In [8]:
import numpy as np
import pandas as pd

In [9]:
class player:
    def __init__(self, id, sum, op):
        self.id=id
        self.sum=sum
        self.op=op
#класс игроков, пока с тремя параметрами: id, суммой баллов и списком оппонентов

In [10]:
ar=[]
# массив игроков
def load(ar):
    p_cur=player(len(ar), 0, [0])
    return p_cur
#заполняем игроков, id  инкрементально

In [11]:
n=12
# число игроков в турнире

In [12]:
for i in range(n):
    a=load(ar)
    ar.append(a)

In [29]:
res = pd.read_csv("/home/roman/t2.csv")
#импортируем результаты первого тура (заменить на гуглдок?)

In [35]:
res

   id1  id2  r1  r2
0    1    7   1   0
1    2    8   1   0
2    3    9   1   0
3    4   10   0   1
4    5   11   0   1
5    6    0   1   0

In [48]:
#собрали данные по играм и результатам в единый массив
id=list(res['id1'].values)+list(res['id2'].values)
r=list(res['r1'].values)+list(res['r2'].values)

In [59]:
id

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0]

In [63]:
# расставляем сумму
for j in range(len(id)):
    for i in range(len(id)):
        if id[i]==ar[j].id:
            ar[j].sum=r[i]

1